/************************* Layout Styling ********************************/
.flexdr {
  display: flex;
  flex-direction: row !important;/*
  border-top: 1px solid greenyellow;
  border-bottom: 1px solid greenyellow;*/
}

.flexdc {
/*  border-left: 1px solid blue;
  border-right: 1px solid blue;
*/
  display: flex;
  flex-direction: column !important;
}

.flexdcr {
  display: flex;
  flex-direction: column-reverse;
}

.whitebackground {
  background-color: aliceblue;
}

.h10perc {
  width: 10% !important;
}

.h15perc {
  width: 15% !important;
}

.h20perc {
  width: 20% !important;
}

.h30perc {
  width: 30% !important;
}

.h40perc {
  width: 40% !important;
}

.h45perc {
  width: 45% !important;
}

.h50perc {
  width: 50% !important;
}

.h60perc {
  width: 60% !important;
}

.h65perc {
  width: 65% !important;
}

.h70perc {
  width: 70% !important;
}

.h80perc {
  width: 80% !important;
}

.h90perc {
  width: 90% !important;
}

.h100perc {
  width: 100% !important;
}

.v100perc {
  height: 100% !important;
}

.v30perc {
  height: 30%;
}

.v60perc {
  height: 60%;
}

.jcsa {
  justify-content: space-around !important;
}

.jcsb {
  justify-content: space-between !important;
}

.jcse {
  justify-content: space-evenly !important;
}

.jcfe {
  justify-content: flex-end;
}

.jcc {
  justify-content: center !important;
}

.aic {
  align-items: center;
}

.aife {
  align-items: flex-end;
}

.asfe {
  align-self: flex-end;
}

.asfs {
  align-self: flex-start;
}

.floatr {
  float: right;
}

.nowrap {
  flex-wrap: nowrap !important;
}

.wrap {
  flex-wrap: wrap !important;
}

.mh250px {
  min-height: 250px;
}

.pad15px {
  padding: 15px;
}

.padnone {
  padding: 0px !important;
}

.mar30px {
  margin: 30px;
}

.martopnone {
  margin-top: 0px !important;
}

.padbotnone {
  padding-bottom: 0px;
}

.mar10px {
  margin: 10px;
}

.mbm10px {
  margin-bottom: -10px;
}

.martop10px {
  margin-top: 10px;
}

.noborder {
  border: none;
}

.test {
  border: 1px dotted blueviolet !important;
}