/* Reset the html and body elements. Often done in a seperate file but not much is needed */

html, body {
  height: 100%;
  min-height: 100vh;
  width: 100%;
  min-width: 100vw;
  margin: 0;
  padding: 0;
  border: none;
}

p{
  margin: 0;
}



h1, h2, h3 ,h4, p, ul, ol, li, a {
  margin: 0;
  padding: 0;
}

button{
  border: none;
}

/* Setting up some base styling*/

html, body {
  font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
  font-size: 16px;
  color: #333;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  /* background-image: url(/static/img/PKOP_image_2.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
}

.content{
  height: calc(100% - 55px);
  padding-bottom: 55px;
  box-sizing: border-box;
  /* background-image: url(/static/img/venture_02.png); */
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 20px 20px 55px 20px;
  background-color: #ffffff;
  overflow-y: auto;
  margin-top: 55px;
}

h1{
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3{
  font-size: 1.6rem;
}
ol{
  padding-inline-start: 1.5em;
  margin: 0.5em 0;
}

 /* Footer */
footer {

  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #007D3B
}

footer p{
  margin-right: 1em;
  font-size: 0.8rem;
}

footer .quirinuslogo{
  margin-right: 1em;
}

input, select, option{
  font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
}


/* Navigation */

.sidenav {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  box-sizing: border-box;
  background-color: #007D3B;
  z-index: 99;
  height: 55px;
  transition: 0.2s;
  overflow: hidden;
}

.sidenav.isOpen{
  height: 100%;
}
.sidenav_burger{
  width: 32px;
  height: 27px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  outline: transparent;
  padding: 4px;
  background-color: transparent;
  cursor: pointer;
  box-sizing: border-box;
  position: absolute;
  left: 16px;
  top: 16px;
  transition: 0.2s;
}
.sidenav.isOpen .sidenav_burger{
  height: 28px;
}

.sidenav_burger div{
  width: 100%;
  height: 3px;
  border-radius: 3px;
  background-color: #fff;
  transition: 0.2s;
}

.sidenav_burger .sidenav_burger_bar1{
  transform-origin: left;
}
.sidenav.isOpen .sidenav_burger_bar1{
  transform: rotate(45deg);
}

.sidenav_burger .sidenav_burger_bar2{
  transform-origin: center;
}

.sidenav.isOpen .sidenav_burger_bar2{
  transform: scaleX(0)
}

.sidenav_burger .sidenav_burger_bar3{
transform-origin: left;
}

.sidenav.isOpen .sidenav_burger_bar3{
  transform: rotate(-45deg);
}

.sidenav ul {
  box-sizing: border-box;
  transition: 0.2s;
  position: absolute;
  top: 60px;
  width: 100%;
  display: none;
  visibility: hidden;
}
.sidenav.isOpen ul {
  display: block;
  visibility: visible;
}

.sidenav ul li{
  list-style: none;
  width: 100%;
  margin-bottom: 14px;
}

.sidenav ul li a:hover{
  background-color: rgba(255,255,255,0.1);
}

.sidenav ul li a{
  text-decoration: none;
  font-size: 1rem;
  color: #ffffff;
  display: block;
  padding: 5px 20px;
  box-sizing: border-box;  
}
.quirinuslogo{
  display: flex;
  flex-direction: row;
  align-items: center;
  display: none;
  visibility: hidden;
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 100%;
}
.sidenav.isOpen .quirinuslogo{
  display: flex;
  visibility: visible;
}
.quirinuslogo img{
  height: 35px;
  width: 35px;
  margin-right: 0.2em;
}

.quirinuslogo p{
  color: #ffffff;
  font-size: 12px;
}

.sidenav.isOpen .current_page {
  background-color: rgba(255,255,255,0.1);
}

.main {
  height: auto; 
  min-height: 100vh;
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.main_content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.block{
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
  padding: 30px;
  background-color: #ffffff;
  box-shadow: 0px 2px 18px 0px rgba(0,0,0,0.3);
}

.block p{
  margin-bottom: 0.2em;
}

.button{
  font-size: 20px;
  font-weight: 500;
  padding: .3em 1em;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  border: 1px solid  #007D3B;
}

.button--primary{
  background-color: #007D3B;
  color: #ffffff;
}

.button--secondary{
  background-color: #ffffff;
  color: #007D3B;
}

.button_primary--orange{
  background-color: #FF7F50;
  border: 1px solid  #FF7F50;
  color: #fff;
}

.button_bar{
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button_bar .button{
  margin-bottom: 12px;
}
.button_bar .button:last-of-type{
  margin-bottom: 0;
}

.button--small{
  font-size: 12px;
}

.button--disabled {
  color: grey !important;
  border: 1px solid grey !important;
  background-color: darkgrey !important;
  cursor: default;
}

/* tables */

table {
  border-collapse: collapse;
  background-color: #ffffff;
  width: 100%;
  padding-top: 20px;
  margin: 30px 0 10px 0;

}
.table--scroll{
  overflow-x: auto;
}

.table--scroll table{
  min-width: 1000px;
}



thead{
  border: 1px solid #333;
}

thead tr {
  display: grid;
  grid-template-columns: 48px 120px repeat(3, 1fr) repeat(3, 60px);
  align-items: center;
  justify-items: flex-start;
}

thead tr th{
  text-align: left;
  padding: 5px 0 5px 0px;
  white-space: nowrap;
  font-size: 18px;
}

thead tr th:nth-child(6){
  text-align: center;
}

thead tr th:first-of-type{
  padding-left: 20px;
}

thead tr th:last-of-type{
  padding-right: 20px;
}

thead tr th span{
  font-size: 12px;
}

tbody tr{
  text-align: left;
  display: grid;
  grid-template-columns: 48px 120px repeat(3, 1fr) repeat(3, 60px);
  grid-template-areas: 'number cas substance type class quantity edit delete';
  background-color: #F2F2F2;;
}

tbody tr td{
  text-align: left;
  padding:15px 0 15px 0;
  background-color: #ffffff;
  border-bottom: 1px solid #333;
}

tbody tr:nth-child(3) td{
  background-color: #F2F2F2;
}

tbody tr td:first-of-type {
  padding-left: 20px;
}

tbody tr td:nth-child(6){
  text-align: center;
}

.row--empty{
  grid-column: 1 / -1;
}

/* tabs */
.tabs_holder{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.tabs_tab{
  height: 100%;
  display: inline-block;
  cursor: pointer;  
  background-color: #d9d9d9;
  opacity: 0.5;
}

.tabs_tab > h2 {
  font-size: 18px;
  padding: 10px;
  pointer-events: none;
}
.active_tab {
  background-color: #F2F2F2;
  opacity: 1;
  cursor: default;
  pointer-events: none;
}

/*********************** addnew *****************************/

.addnew_header{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;  
}

.addnew_body{
  background-color: #F2F2F2;
  padding: 10px 0;
}

.addnew_inputrow{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.addnew_inputrow .addnew_input{
  padding: 0 10px;
  margin-top: 20px;
  flex: 1;
  min-width: 200px;
}

.addnew_inputrow .addnew_input label{
  width: 100%;
  font-size: 14px;
  color: #444444;
  font-weight: bold;
  text-align: left;
  display: block;
}

.addnew_inputrow .addnew_input input, .addnew_inputrow .addnew_input select{
  width: 100%;
  height: 42px;
  padding: 0 15px;
  box-sizing: border-box;
  outline: none;
  font-weight: normal;
  border: none;
  margin-top: 5px;
}

.addnew_select{
  position: relative;
}

.addnew_select::-ms-expand select{
  display: none;
}

.addnew_select select{
  -webkit-appearance: none;
  appearance: none;
}

.addnew_select::after{
  content: ' ';
  width: 14px;
  height: 14px;
  position: absolute;
  top: 21px;
  right: 15px;
  background-image: url('../img/arrow-down.svg');
  background-size: 100% 100%;
  z-index: 99;
}

/* Styling th 'options' is hell so if you'd like a custom one i can make one but ill have to restructure your markup a bit and bind the onchange to a hidden input field */

.addnew_footer{
  width: 100%;
  margin: 20px 10px 0 10px;
}

.addnew_footer button{
  margin-right: 5px;
  margin-top: 10px;
}

/* pop up */
#substance_1_autocomplete_div{
  position: relative;
}
#substance_1_autocomplete_div > ul {
  list-style: none;
  width: fit-content;
  position: absolute;
  width: 100%;
  margin-top: 2px;
  max-height: 162px;
  overflow-y: auto;
  background-color: #F2F2F2;
}

#substance_1_autocomplete_div > ul > li {
  background: #ffffff;
  width: 100%;
  height: 42px;
  padding: 0 15px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2px;
}

#substance_1_autocomplete_div > ul > li p{
  pointer-events: none;
}

#substance_1_autocomplete_div > ul > li:hover {
 background-color: #d9d9d9;
}

.invalid_input {
  border-color: red;
}

/* scrollbar*/

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* trumps */
.bold{
  font-weight: bold !important;
}


@media only screen and (min-width: 426px) {
  h1{
    font-size: 3rem;
  }
  .content{
    padding: 0 18px 0 33px;
    margin-top: 0px;
    height: 100%;
  }
  .sidenav {
    height: 100%;
    width: 255px;
    left: -186px;
  }

  .sidenav.isOpen{
    left: 0;
  }
  .sidenav .sidenav_burger{
    /* left: 16px; */
    left: 203px;
    top: 20px;
  }

  .sidenav ul {
    padding: 0 0 33px 0;
    /* left: -200px; */
    top: 60px;
  }
  .sidenav.isOpen ul{
    /* left: 33px; */
  }

  .main{
    padding-left: 54px;
    
  }
  .main.isOpen {
    padding-left: 250px;
  }
  .button_bar{
    flex-direction: row;
    justify-content: space-between;
  }
  .button_bar .button{
    margin-bottom: 0px;
  }

  footer {
    padding: 10px 33px;
  }
}












































/********************** NAV STYLING ************************/





/************** loader *****************/

#pre_loader {
  position: absolute;
  left: 20%;
}

#pre_loader > p {
  position: fixed;
  top: 42%;
  left: 61%;
  font-size: 30pt;
  color: white;
}

#pre_loader > div {
  margin-top: -60px;
  position: fixed;
  margin-left: 10px;
}

/** stolen code */
.meter { 
	height: 20px;  /* Can be anything */
	position: relative;
	background: #555;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding: 10px;
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}

.meter > span {
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(43,194,83);
  background-image: linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
  );
  box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
}

.meter > span:after, .animate > span > span {
  content: "";
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background-image: linear-gradient(
    -45deg, 
    rgba(255, 255, 255, .2) 25%, 
    transparent 25%, 
    transparent 50%, 
    rgba(255, 255, 255, .2) 50%, 
    rgba(255, 255, 255, .2) 75%, 
    transparent 75%, 
    transparent
  );
  z-index: 1;
  background-size: 50px 50px;
  animation: move 2s linear infinite;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
}

.animate > span:after {
  display: none;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}

.meter > span:after, .animate > span > span {
  animation: move 2s linear infinite;
}

@keyframes expandWidth {
  0% { width: 0; }
  100% { width: auto; }
}

/**************************** TABLE STYLING ************************************/






/** stolen code */
.flash {
  -moz-animation: flash 1s ease-out;
  -moz-animation-iteration-count: 1;

  -webkit-animation: flash 1s ease-out;
  -webkit-animation-iteration-count: 1;

  -ms-animation: flash 1s ease-out;
  -ms-animation-iteration-count: 1;
}

@keyframes flash {
    0% { background-color: transparent; }
    50% { background-color: #fbf8b2; }
    100% { background-color: transparent; }
}

@-webkit-keyframes flash {
    0% { background-color: transparent; }
    50% { background-color: #fbf8b2; }
    100% { background-color: transparent; }
}

@-moz-keyframes flash {
    0% { background-color: transparent; }
    50% { background-color: #fbf8b2; }
    100% { background-color: transparent; }
}

@-ms-keyframes flash {
    0% { background-color: transparent; }
    50% { background-color: #fbf8b2; }
    100% { background-color: transparent; }
}

#calc_button {
  padding: 15px;
  color: white;
  background-color: coral;
  border: white 2px solid;
  font-weight: bold;
}


/**************** BLOCKS **************************/

.blueblock {
  background-color: navy;
  color: white;
  padding: 5%;
}

.greenblock {
  background-color: green;
  color: white;
  padding: 5%;
}

.whiteblock {
  background-color: white;
  color: black;
  padding: 5%;
  border: black 1px solid;
}

.whiteblock h2 {
  color: black;
}

/* .block > button, .greenbutton {
  background-color: green;
  color: white;
  border: white 3px solid;
  border-radius: 19px;
  padding: 12px;
  font-weight: bold;
  box-shadow: none;
}

.block > a {
  color: white;
  text-decoration: none;
}

.block > a:visited {
  color: white;
  text-decoration: none;
} */

.grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid peru;
  margin: -1px;
}

#detailed_view_div span {
  align-self: center;
  display: flex;
  padding: 5px;
  font-size: 12pt;
  font-weight: bold;
}

/**************** Disabled **************************/


.disabled_link, .disabled_link:hover {
  color: grey !important;
}

.invalid_input {
  border: 1px solid peru;
}