/* Reset the html and body elements. Often done in a seperate file but not much is needed */

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
}

p{
  margin: 0;
}

h1, h2, h3 ,h4, h5, p, ul, ol, li, a {
  margin: 0;
  padding: 0;
}

p, a{
  letter-spacing: 0.05em;
}

a{
  cursor: pointer;
  color: #2ea3f2;
  font-weight: bold;
}
button{
  border: none;
}

/* Setting up some base styling*/

html, body {
  font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
  font-size: 16px;
  color: #333;
  box-sizing: border-box;
  overflow-y: auto;
}

body {
  /* background-image: url(/static/img/PKOP_image_2.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
  font-size: 2rem;
}

h2 {
  font-size: 1.6rem;
  line-height: 1.2em;
}

h3{
  font-size: 1.4rem;
}

h4{
  font-size: 1.2rem;
}

h5{
  font-size: 1em;
}
ol{
  padding-inline-start: 1.5em;
  margin: 0.5em 0;
}

ol li{
  margin-bottom: 1.2em;
}

 /* Footer */
footer {
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #007D3B
}

footer p{
  margin-right: 1em;
  font-size: 0.8rem;
}

footer .quirinuslogo{
  margin-right: 1em;
}

input, select, option{
  font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
}

@media only screen and (min-width: 426px) {
  h1{
    font-size: 2.4rem;
  }
}


.content{
  height: calc(100% - 55px);
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #ffffff;
  overflow-y: auto;
  margin-top: 55px;
}

.main {
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 100%;
  background-color: #eeeeee;
}
.main_content {
  flex: 1;
  padding: 15px;

}

@media only screen and (min-width: 426px) {
  .content{
    height: 100%;
    margin-top: 0;
  }
  .main{
    padding-left: 69px;    
  }
  .main.isOpen {
    padding-left: 255px;
  }
}

.header{
  height: 55px;
  width: 100%;
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  padding-left: 64px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  pointer-events: none;
}

.header h1{
  font-size: 1.5em;
  margin-top: 4px;
  color: #ffffff;
}


@media only screen and (min-width: 426px) {

  .header{
    position: relative;
    padding-left: 18px;
    background-color: #ffffff;
  }
  
  .header h1{
    font-size: 1.8em;
    margin-top: 2px;
    color: #333333;
  }
}


/* Navigation */

.sidenav {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  box-sizing: border-box;
  background-color: #007D3B;
  z-index: 99;
  height: 55px;
  transition: 0.2s;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.sidenav.isOpen{
  height: 100%;
}
.sidenav_burger{
  width: 32px;
  height: 27px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  outline: transparent;
  padding: 4px;
  background-color: transparent;
  cursor: pointer;
  box-sizing: border-box;
  position: absolute;
  left: 16px;
  top: 15px;
  transition: 0.2s;
}
.sidenav.isOpen .sidenav_burger{
  height: 28px;
}

.sidenav_burger div{
  width: 100%;
  height: 3px;
  border-radius: 3px;
  background-color: #fff;
  transition: 0.2s;
}

.sidenav_burger .sidenav_burger_bar1{
  transform-origin: left;
}
.sidenav.isOpen .sidenav_burger_bar1{
  transform: rotate(45deg);
}

.sidenav_burger .sidenav_burger_bar2{
  transform-origin: center;
}

.sidenav.isOpen .sidenav_burger_bar2{
  transform: scaleX(0)
}

.sidenav_burger .sidenav_burger_bar3{
transform-origin: left;
}

.sidenav.isOpen .sidenav_burger_bar3{
  transform: rotate(-45deg);
}

.sidenav ul {
  box-sizing: border-box;
  transition: 0.2s;
  width: 100%;
  margin-top: 55px;
  padding-top: 16px;
  background-color: rgba(0, 0, 0, 0.08);
  flex: 1;
}
.sidenav.isOpen ul {
  display: block;
  visibility: visible;
}

.sidenav ul li{
  list-style: none;
  width: 100%;
  margin-bottom: 6px;
}

.sidenav ul li a:hover{
  background-color: rgba(255,255,255,0.1);
}

.sidenav ul li a{
  text-decoration: none;
  font-size: 1rem;
  color: #ffffff;
  display: block;
  padding: 5px 20px;
  box-sizing: border-box;  
  font-weight: 500;
  pointer-events: none;
}

.sidenav.isOpen ul li a{
  pointer-events: all;
}

.quirinuslogo{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px 16px;
  display: none;
  visibility: hidden;
}
.sidenav.isOpen .quirinuslogo{
  display: flex;
  visibility: visible;
}
.quirinuslogo img{
  height: 35px;
  width: 35px;
  margin-right: 0.2em;
}

.quirinuslogo p{
  color: #ffffff;
  font-size: 12px;
}

.sidenav.isOpen .current_page {
  background-color: rgba(255,255,255,0.1);
}

@media only screen and (min-width: 426px) {
  .sidenav {
    height: 100%;
    width: 255px;
    left: -186px;
  }

  .sidenav.isOpen{
    left: 0;
  }
  .sidenav .sidenav_burger{
    left: 203px;
  }
}

.block{
  width: 100%;
  max-width: 800px;
  box-sizing: border-box;
  padding: 15px;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  margin-top: 12px;
}

.block--text h2, .block--text h3, .block--text p{
  margin-bottom: 0.5em;
}

.block--wide{
  max-width: 100%;
}

.button{
  font-size: 20px;
  font-weight: 500;
  padding: .3em 1em;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  border: 1px solid  #007D3B;
  position: relative;
  overflow: hidden;
}

.button:after {
  content: "";
  background: rgba( 255, 255, 255, 0.1);
  display: block;
  position: absolute;
  opacity: 0;
  transition: all 0s;
  padding-top: 100%;
  padding-left: 100%;
  border-radius: 50%;
  margin-left:  -100%;
  margin-top:  -40px;
  pointer-events: none;
}

.button:hover:after {
  opacity: 1;
  padding-top: 200%;
  padding-left: 200%;
  margin-left:  -40%;
  margin-top:  -100px;
  transition: all 1s
}

.button--primary{
  background-color: #007D3B;
  color: #ffffff;
}

.button--secondary{
  background-color: #ffffff;
  color: #007D3B;
}

.button_primary--orange{
  background-color: #FF7F50;
  border: 1px solid  #FF7F50;
  color: #fff;
}

.button_bar{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom:  -12px;
}

.button_bar .button{
  margin-bottom: 12px;  
  min-width: 220px;
}

.button_icon{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  background-size: 60% 60%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.button_icon--edit{
  background-image: url('../img/edit.svg');
}

.button_icon--check{
  background-image: url('../img/check.svg');
}

.button_icon--del{
  background-image: url('../img/delete.svg');
}

@media only screen and (min-width: 426px) {
  .button_bar{
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .button_bar .button{
    margin-right: 24px;
  }
  .button_bar .button:last-of-type{
    margin-right: 0;
  }
}

.button--small{
  font-size: 12px;
}

.button--disabled {
  color: grey !important;
  border: 1px solid grey !important;
  background-color: darkgrey !important;
  cursor: default;
  pointer-events: none;
}

.fancyul{
  list-style:none;
}

.fancyul li{
  padding-left: 24px;
  position: relative;
  padding-bottom: 1.2em;
}
.fancyul li:last-of-type{
  padding-bottom: 0;
}
.fancyul li::after{
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  border: 2px solid #2ea3f2;
  border-radius: 50%;
  margin-right: 12px;
  position: absolute;
  left: 1px;
  top: 3px;
}

/* tables */

table {
  border-collapse: collapse;
  width: 100%;
}

thead tr th{
  text-align: left;
  white-space: nowrap;
  font-size: 1em;
  line-height: 12px;
}

thead tr th h4{
  font-weight: 500;
}
thead tr th span{
  font-size: 12px;
}

tbody tr{
  text-align: left;
  display: grid;
  border-bottom: 1px solid #EEEEEE;
  padding-bottom: 15px;
  padding-top: 15px;
}

tbody tr:last-of-type{
  border-bottom: none;
}

tbody tr td{
  text-align: left;
  display: flex;
  align-items: center;
}

.table--scroll{
  overflow-x: auto;
}

.table--scroll table{
  min-width: 1000px;
}

.table--inventory table thead tr th:nth-child(6){
  font-size: 12px;
  text-align: center;
  width: 100%;
}

.table--inventory tbody tr{
  grid-template-columns: 24px 120px repeat(3, 1fr) 80px 80px;
  /* grid-template-areas: 'number cas substance type class quantity edit delete'; */
}

.table--inventory table tbody tr td:nth-child(6){
  width: 100%;
}
.table--inventory table tbody tr td:nth-child(6) p{
  width: 100%;
  text-align: center;
}

.table--inventory table tbody tr td:nth-child(7){
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
}

.table--inventory thead tr {
  display: grid;
  grid-template-columns: 24px 120px repeat(3, 1fr) 80px 80px;
  align-items: center;
  justify-items: flex-start;
  border-bottom: 1px solid #EEEEEE;
  padding-bottom: 15px;
}


.row--empty{
  grid-column: 1 / -1;
  padding-bottom: 15px !important;
}

.editfield{
  width: 100%;
}

.editfield input{
  width: calc(100% - 8px);
  font-size: 16px;
}
/* tabs */
.tabs_holder{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.tabs_tab{
  height: 100%;
  display: inline-block;
  cursor: pointer;  
  background-color: #a1a1a1;
  opacity: 0.5;
}

.tabs_tab > h2 {
  font-size: 18px;
  padding: 10px;
  pointer-events: none;
  font-weight: 500;
}
.active_tab {
  background-color: #ffffff;
  opacity: 1;
  cursor: default;
  pointer-events: none;
}

/*********************** addnew *****************************/

.addnew_header{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;  
}

.addnew_body{
  background-color: #ffffff;
  padding: 10px 0;
  margin-bottom: 10px;
}

.addnew_inputrow{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.addnew_inputrow .addnew_input{
  padding: 0 10px;
  margin-top: 20px;
  flex: 1;
  min-width: 200px;
}

.addnew_inputrow .addnew_input label{
  width: 100%;
  font-size: 14px;
  color: #444444;
  font-weight: bold;
  text-align: left;
  display: block;
}

.addnew_inputrow .addnew_input input, .addnew_inputrow .addnew_input select{
  width: 100%;
  height: 42px;
  padding: 0 15px;
  box-sizing: border-box;
  outline: none;
  font-weight: normal;
  border: none;
  margin-top: 5px;
  border: 1px solid #EEEEEE;
}

.addnew_select{
  position: relative;
}

.addnew_select::-ms-expand select{
  display: none;
}

.addnew_select select{
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}

.addnew_select::after{
  content: ' ';
  width: 14px;
  height: 14px;
  position: absolute;
  top: 21px;
  right: 15px;
  background-image: url('../img/arrow-down.svg');
  background-size: 100% 100%;
  z-index: 99;
}

/* Styling th 'options' is hell so if you'd like a custom one i can make one but ill have to restructure your markup a bit and bind the onchange to a hidden input field */

.addnew_select option{
  cursor: pointer;
}

.addnew_footer{
  width: 100%;
  margin: 20px 10px 0 10px;
}

.addnew_footer button{
  margin-right: 5px;
  margin-top: 10px;
}

.results .button_bar{
  justify-content: flex-start;
}

.results_header{
  margin-bottom: 30px;
}
.results_overview{
  margin-bottom: 30px;
}

.results_recommended{
  margin-bottom: 15px;
}

.results_cta{
  max-width: 500px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.detailsView{
  margin-top: 20px;
}

.detailsView_header{
  display: flex;
  flex-direction: row;
  max-width: 500px;
  justify-content: space-between;
  margin-bottom: 10px;
}
.detailsView_header h3{
  margin: 0 20px 0 0;
}

.detailsView_header .button_icon{
  background-color: transparent;
  margin-right: -9px;
}

.detailsView_body{
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 769px) {
  .detailsView_body{
    flex-direction: row;
  }
}

.detailsView_body_column{
  width: 100%;
  margin-bottom: 20px;
}

@media only screen and (min-width: 769px) {
  .detailsView_body_column{
    width: 50%;
    max-width: 500px;
    margin-right: 50px;
  }
}

.detailsView_body_column_header{
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.detailsView_body_column_header p{
  margin: 0;
  font-weight: bold;
  font-size: 1.2rem;
}
.detailsView_body_column_header h4{
  flex: 1 1 50%;
}
/*
.detailsView_body_column_body{
  
} */

.detailsView_body_column_body_subheader{
  display: flex;
  flex-direction: row;  
}

.detailsView_body_column_body_subheader p{
  font-weight: bold;
  border-bottom: 1px solid #EEEEEE;
  border-top: 1px solid #EEEEEE;
  padding: 0.5em 0 0.5em 0;
}

.detailsView_body_column_body_subheader p:nth-child(odd){
  flex: 1 1 50%;
}

.detailsView_body_column_body_content{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.detailsView_body_column_body_content p{
  border-bottom: 1px solid #EEEEEE;
  padding-bottom: 0.5em;
}

.detailsView_body_column_body_content p:nth-child(odd){
  flex: 1 1 50%;
}
.detailsView_body_column_body_footnote{
  margin-bottom: 10px;
}

.detailsView_body_column_body_footnote h5{
  margin-bottom: 0.5em
}

/* pop up */
#substance_1_autocomplete_div{
  position: relative;
}
#substance_1_autocomplete_div > ul {
  list-style: none;
  width: fit-content;
  position: absolute;
  width: 100%;
  margin-top: 2px;
  max-height: 162px;
  overflow-y: auto;
  background-color: #F2F2F2;
  z-index: 99;
}

#substance_1_autocomplete_div > ul > li {
  background: #ffffff;
  width: 100%;
  height: 42px;
  padding: 0 15px;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2px;
}

#substance_1_autocomplete_div > ul > li p{
  pointer-events: none;
}

#substance_1_autocomplete_div > ul > li:hover {
 background-color: #d9d9d9;
}

.invalid_input {
  border: 1px solid red !important;
}

#calc_button {
  background-color: #262878;
}

/* scrollbar*/

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* trumps */
.bold{
  font-weight: bold !important;
}

.fs-25{
  font-size: 25px !important;
}

.disabled_link, .disabled_link:hover {
  color: grey !important;
  cursor: default;
  pointer-events: none !important;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

@media only screen and (min-width: 426px) {
  footer {
    padding: 10px 33px;
  }
}





























/************** loader *****************/
.loading{
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  background-color: rgba( 0, 0, 0, 0.2);
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#pre_loader > p {
  font-size: 30pt;
  color: white;
  margin-bottom: 30px;
}

#pre_loader > div {
  width: 100%;
  max-width: 320px;
  height: 10px;
}

.status_message {
  top: 1rem;
  left: 0;
  position: relative;
  font-size: small;
  color: black;
}

/** stolen code */
.meter { 
	height: 25px;  /* Can be anything */
	position: relative;
	background: #555;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding: 0px;
  box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
  overflow: hidden;
}

.meter > span {
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(43,194,83);
  background-image: linear-gradient(
    center bottom,
    rgb(43,194,83) 37%,
    rgb(84,240,84) 69%
  );
  box-shadow: 
    inset 0 2px 9px  rgba(255,255,255,0.3),
    inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
}

.meter > span:after, .animate > span > span {
  content: "";
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background-image: linear-gradient(
    -45deg, 
    rgba(255, 255, 255, .2) 25%, 
    transparent 25%, 
    transparent 50%, 
    rgba(255, 255, 255, .2) 50%, 
    rgba(255, 255, 255, .2) 75%, 
    transparent 75%, 
    transparent
  );
  z-index: 1;
  background-size: 50px 50px;
  animation: move 2s linear infinite;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
}

.animate > span:after {
  display: none;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}

.meter > span:after, .animate > span > span {
  animation: move 2s linear infinite;
}

@keyframes expandWidth {
  0% { width: 0; }
  100% { width: auto; }
}






































/********************** NAV STYLING ************************/






/**************************** TABLE STYLING ************************************/






/** stolen code */
.flash {
  -moz-animation: flash 1s ease-out;
  -moz-animation-iteration-count: 1;

  -webkit-animation: flash 1s ease-out;
  -webkit-animation-iteration-count: 1;

  -ms-animation: flash 1s ease-out;
  -ms-animation-iteration-count: 1;
}

@keyframes flash {
    0% { background-color: transparent; }
    50% { background-color: #fbf8b2; }
    100% { background-color: transparent; }
}

@-webkit-keyframes flash {
    0% { background-color: transparent; }
    50% { background-color: #fbf8b2; }
    100% { background-color: transparent; }
}

@-moz-keyframes flash {
    0% { background-color: transparent; }
    50% { background-color: #fbf8b2; }
    100% { background-color: transparent; }
}

@-ms-keyframes flash {
    0% { background-color: transparent; }
    50% { background-color: #fbf8b2; }
    100% { background-color: transparent; }
}



/**************** BLOCKS **************************/

.blueblock {
  background-color: navy;
  color: white;
  padding: 5%;
}

.greenblock {
  background-color: green;
  color: white;
  padding: 5%;
}

.whiteblock {
  background-color: white;
  color: black;
  padding: 5%;
  border: black 1px solid;
}

.whiteblock h2 {
  color: black;
}

/* .block > button, .greenbutton {
  background-color: green;
  color: white;
  border: white 3px solid;
  border-radius: 19px;
  padding: 12px;
  font-weight: bold;
  box-shadow: none;
}

.block > a {
  color: white;
  text-decoration: none;
}

.block > a:visited {
  color: white;
  text-decoration: none;
} */

.grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid peru;
  margin: -1px;
}

#detailed_view_div span {
  align-self: center;
  display: flex;
  padding: 5px;
  font-size: 12pt;
  font-weight: bold;
}

/**************** Disabled **************************/



.invalid_input {
  border: 1px solid red;
}