
<script src="/static/js/addnew_scripts.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<div class="rectangle flexdc padnone mh250px" id="addnewbox">

  <div class="flexdr">
    <!-- TABS ROW-->
    <div id="tab_1" class="tab jcc h45perc active_tab">
      <h2 onclick="tabtoggle(1)">Named Substance</h2>
    </div>
    <div id="tab_2" class="tab jcc h45perc">
      <h2 onclick="tabtoggle(2)">Listed Substance</h2>
    </div>
    <button class="red_button" onclick="hideaddnew()">&times;</button>      
  </div> <!-- TABS ROW-->

  <!-- TAB 1 -->
  <div class="flexdr nowrap jcse pad15px padbotnone aife" id="tab_1_row_1">
    <!-- tab1 row1-->
    <div class="flexdc h30perc">
      <label for="substance_name">Substance name or CAS number</label>
      <div id="substance_1_autocomplete_div">
        <input onkeyup="AutusCumpletus()" class="h100perc" type="text" id="substance_1" placeholder="Start typing...">
        <ul id="autocompletelist">
          {% for item in chemlist %}
          <li class="acli" id="li_{{ item['id'] }}" chemclass="{{item['class']}}" chemtype="{{item['type']}}" data-toggle="tooltip" title="{{item['tooltip']}}" onclick="populate('{{ item.id }}')">{% if item["CAS"] %}{{ item.CAS }} - {% endif %}{{ item.name }}</li>
          {% endfor %}
        </ul>
        <!-- autocompletelist goes here -->
      </div>
    </div>

    <div class="flexdc h30perc">
      <label for="substance_qty">Quantity in tonnes</label>
      <input onkeyup="enable_add_button(1)" class="h100perc" type="number" id="qty_1">
    </div>

    <div class="flexdc v100perc h30perc aic">
      <button id="addtoinv_1" class="greenbutton mbm10px disabled_button">Add to Inventory</button>
    </div>
  </div>
  <!-- tab1 row2-->
  <div class="flexdr nowrap pad15px" id="tab_1_row_2">
    <div class="h40perc v100perc nowrap flexdr jcsb">
      <label class="h30perc" for="Type">Type: </label>
      <input class="h70perc whitebackground noborder" disabled type="text" id="type_1" value="Named">
    </div>
    <div class="h40perc v100perc nowrap flexdr jcsb">
      <label class="h30perc" for="Type">Class: </label>
      <input class="h70perc whitebackground noborder" disabled type="text" id="class_1" value="">
    </div>
    <div class="h20perc v100perc nowrap">
      <button id="clear_1_button" class="floatr" data-toggle="tooltip" title="Clear the current fields." >CLEAR</button>
    </div>
  </div>
  <!-- END TAB 1 -->
  <!-- TAB2 -->
    <!-- tab 2 row 1-->
  <div id="tab_2_row_1" class="flexdr nowrap jcse pad15px padbotnone aifa">
    <div class="flexdc h40perc">
      <label for="substance_2">Substance</label>
      <input class='tab_2_input' type="text" id="substance_2">
    </div>
    <div class="flexdc h30perc">
      <label for="substance_2">CAS Number (optional)</label>
      <input class='tab_2_input' type="text" id="cas_2" placeholder="CAS (Optional)">
    </div>
    <div class="flexdc h20perc">
      <label for="qty_2">Qty</label>
      <input class='tab_2_input' type="text" id="qty_2">
    </div>
  </div>
    <!-- end row 1-->
    <!-- tab 2 row 2-->

  <div id="tab_2_row_2" class="flexdr aife nowrap jcse pad15px">
    <div class="flexdc h30perc">
      <label for="type_2">Type</label>
      <input class='tab_2_input' name="type_2" class="whitebackground noborder" id="type_2" value="Listed" disabled>
    </div>
    <div class="flexdc h30perc">
      <label for="class_2">Class</label>
      <select name="type_2" id="class_2" onchange="enable_add_button(2)">
        <option default hidden value="">Select...</option>
        {% for substance in listedSubstances %}
        <option chemid="{{substance.chemid}}" data-toggle="tooltip" title="{{substance['tooltip']}}" value="{{substance.chemid}}">{{substance.class }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="flexr h30perc aife">
      <button id="addtoinv_2" class="disabled_button mbm10px greenbutton" onclick="addtoinv('2')">Add to Inventory</button>
      <button id="clear_2_button" class="floatr" data-toggle="tooltip" title="Clear the current fields." >CLEAR</button>
    </div>

  </div>
  <!-- END TAB2 -->
  <script>$(".tab_2_input").on('blur',enable_add_button(2))</script>
</div>