
<script src="/static/js/addnew_scripts.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<div class="rectangle flexdc padnone" id="addnewbox" style="display: none;">

  <div class="addnew_header active_tab">
    <div class="tabs_tab active_tab"">
      <h2>Add new substance to inventory:</h2>
    </div>   
    <button id="hide_addnew_form" class="button button--hide_addnew_form" data-toggle="tooltip" title="Close this window." onclick="hideaddnew()">X</button> 
  </div> 
  
  <div class='addnew_body'>
    <div class="addnew_inputrow">

      <!-- Substance Name / CAS -->
      <div class="addnew_input">
        <label for="searchtype">Search for substance by:</label>
        <select name="searchtype" id="searchtype" onchange="UpdateSearchType()">
          <option value="0">CAS number</option>
          <option selected="selected" value="1">Substance</option>
          <option value="2">UN Number</option>
          <option value="3">Classification</option>
        </select>  
      </div>

      <!-- Substance Name / CAS -->
      <div class="addnew_input" id="addnew--usertextinput">
        <label id="userinputfield" for="substance">Substance name</label>
        <div id="substance_autocomplete_div">
          <input name="substance" onkeyup="AutusCumpletus()" type="text" id="substance" placeholder="Start typing..." autocomplete="off">
          <ul id="autocompletelist">

            <!-- named substances by name -->
            {% for item in chemlist %}
            <li class="acli_1 acli" style="display: none;" id="li_{{ item['chemid'] }}" chemclass="{{item['category']}}" chemtype="{{item['chemtype']}}" {% if item['tooltip'] %}data-toggle="tooltip" title="{{item['tooltip']}}"{% endif %} onclick="populate('{{ item.chemid }}')">{{ item.name }}</li>
            {% endfor %}

            <!-- named substances by CAS -->
            {% for item in chemlist %}
            {% if item["CAS"] %}
            <li class="acli acli_0" style="display: none;" id="li_cas_{{ item['chemid'] }}" chemclass="{{item['category']}}" chemtype="{{item['chemtype']}}" {% if substance["tooltip"] %}data-toggle="tooltip" title="{{substance['tooltip']}}"{% endif %} onclick="populate('cas_{{ item.chemid }}')">{{ item.CAS }}</li>{% endif %}
            {% endfor %}

            <!-- named substances by UN Number -->
            {% for item in chemlist %}
            {% if item["UN"] %}
            <li class="acli acli_2" style="display: none;" id="li_UN_{{ item['chemid'] }}" chemclass="{{item['category']}}" chemtype="{{item['chemtype']}}" {% if substance["tooltip"] %}data-toggle="tooltip" title="{{substance['tooltip']}}"{% endif %} onclick="populate('UN_{{ item.chemid }}')">{{ item.UN }}</li>{% endif %}
            {% endfor %}
            <option id="NoRecords" class="acli" style="display: none;" onclick="ListedSubstanceSearch()">No records found. Click here to search online database.</option>
            <option id="threeCharsMin" class="acli" style="display: none;">Type at least 3 characters to begin searching.</option>
          </ul>
        </div>
      </div>
      
      <!-- CLASS -->
      <div class="addnew_input" id="addnew--classselect" style="display: none;">

        <label for="class">Class</label>
        <div class="addnew_select">
          <select name="type" id="class">
            <option default hidden value="">Select...</option>
            {% for substance in listedSubstances %}
            <option chemid="{{substance.chemid}}" {% if substance["tooltip"] %}data-toggle="tooltip" title="{{substance['tooltip']}}"{% endif %} value="{{substance.chemid}}">{{substance.desc }}</option>
            {% endfor %}
          </select>
        </div>
      </div>

        

      <!-- QTY-->
      <div class="addnew_input">
        <!-- changed the 'for' attribute here, the for and the input id should be the same, that how the browser associates them -->
        <label for="qty">Quantity in tonnes</label>
        <input id="qty" placeholder="tonnes" autocomplete="off">
      </div>  

    </div>
    <div id="hiddeninputs" style="display: none;">
      <input id="hiddenInputs--chemid" class="hiddenInputs--input" type="text">
      <input id="hiddenInputs--chemtype" class="hiddenInputs--input" type="text">
      <input id="hiddenInputs--hphrases" class="hiddenInputs--input" type="text">
    </div>
    <div id="galapagosMessage" class="error errorMessage" style="display: none;">
      <p>We were unable to find an online record with the information provided.</p>
      <p>Please manually add the substance using one of the classes above.</p>
      <p>For more info please see error code "Galapagos" on our FAQ page.</p>
    </div>
    <div class="addnew_footer">
      <button id="addtoinv_btn" onclick="addtoinv()" class="button button--primary button--small">Add to Inventory</button>        
      <button id="clear_button" class="button button button--secondary button--small" data-toggle="tooltip" onclick="clear()" title="Clear the current fields." >Clear / Reset</button>  
    </div>



  </div>
</div>