<div class="detailsView">

  <!-- Individual Ratings-->
  <div class="detailsView_body">
    <div class="detailsView_body_column">
      <div class="detailsView_body_column_body">

        <div class="detailsView_body_column_body_content">
          <table class="table--inventory--results">
            <tr class="inventory--item">
              <th class="inventory--item--td-left">Substance</th>
              <th class="inventory--item--td-centre">Quantity (Tonnes)</th>
              <th class="inventory--item--td-right">Tier</th>
            </tr>
            {% for item in inv %}
            <tr class="inventory--item">
              <td class="inventory--item--td-left">{{ item.name}}</td>
              <td class="inventory--item--td-centre">{{ item.qty}}</td>
              <td class="inventory--item--td-right">{{ item.tier}}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
        <div id="ind_tier_explain" class="detailsView_body_column_body_footnote">
          <h5>Some subheading explaining what this is</h5>
          <p>Individual tier rating explanation message goes here.</p>
        </div>
      </div>
    </div>

    <!-- Cumulative Ratings -->
    <div class="detailsView_body_column">
      <div class="detailsView_body_column_header">
        <h4>
          Cumulative Rating
        </h4>
        <p>
          {{ results.cumultier }}
        </p>
      </div>
      <div class="detailsView_body_column_body">
        <div class="detailsView_body_column_body_subheader">
          <p>Substance</p>
          <p>Tier</p>
        </div>
        <div class="detailsView_body_column_body_content">
          {% for sub in results.usedlistedsubs.keys() %}
          <div>
            {% if sub == "A" %}
            <p>Group A (Toxic and Very Toxic)</p>
            {% elif sub == "B" %}
            <p>Group B (Oxidising, Explosive, Flammable, Highly Flammable and Extremely Flammable)</p>
            {% elif sub == "C" %}
            <p>Group C (Toxic or Very Toxic to Aquatic Organisms)</p>
            {% endif %}
            <p>{{ results.usedlistedsubs[sub] * 100 }}%</p>
          </div>


          {% endfor %}
        </div>
        <div id="cumul_tier_explain" class="detailsView_body_column_body_footnote">
          <h5>Some subheading explaining what this is</h5>
          <p>Cumulative tier rating explanation message goes here..</p>
        </div>
      </div>
    </div>
  </div>
</div>