<div class="detailsView">

  <!-- Individual Classifications-->
  <div class="detailsView_body">
    <div class="detailsView_body_column">
      <div class="detailsView_body_column_body">

        <div class="detailsView_body_column_body_content">
          <h2>Individual Classification</h2>
          <table class="table--inventory--results">
            <tr class="inventory--item">
              <th class="inventory--item--td-left">Substance</th>
              <th class="inventory--item--td-centre">Quantity (Tonnes)</th>
              <th class="inventory--item--td-right">Tier</th>
            </tr>
            {% for item in inv %}
            <tr class="inventory--item">
              <td class="inventory--item--td-left">{{ item.name}}</td>
              <td class="inventory--item--td-centre">{{ item.qty}}</td>
              <td class="inventory--item--td-right">{{ item.tier}}</td>
            </tr>
            {% endfor %}
          </table>
        </div>
        <div id="ind_tier_explain" class="detailsView_body_column_body_footnote">
          <h5>Some subheading explaining what this is</h5>
          <p>Individual tier Classification explanation message goes here.</p>
        </div>
      </div>
    </div>

    <!-- Aggregate Classifications -->
    <div class="detailsView_body_column">
      <div class="detailsView_body_column_body">
        <div class="detailsView_body_column_body_content">
          <h2>Aggregate Rule</h2>
          <table class="table--inventory--results">
            <tr class="inventory--item">
              <th class="inventory--item--td-left">
                Substance Group
              </th>
              <th class="inventory--item--td-right">
                Total
              </th>
            </tr>
            {% for sub in results.usedListedSubstances.keys() %}
            <tr class="inventory--item">
              <td class="inventory--item--td-left">            
                {% if sub == "H" %}
                <table>
                  <tr>
                    <td>
                      Group H: Toxic Substances
                    </td>
                  </tr>
                  {% if results.usedListedSubstances[sub] > 0 %}
                  <tr>
                    <td>
                      Substances applicable to this classification:
                    </td>
                    <td>
                      {% for substance in inv %}
                        {% if substance.rule == sub %}
                            {{substance.name}} ({{substance.qty}} t), 
                        {% endif %}
                      {% endfor %}
                    </td>
                  </tr>
                {% endif %}

                </table>
                {% elif sub == "P" %}
                <table>
                  <tr>
                    <td>
                      Group P: Flammable and Explosive Substances
                    </td>
                  </tr>
                  {% if results.usedListedSubstances[sub] > 0 %}
                  <tr>
                    <td>
                      Substances applicable to this classification:
                    </td>
                    <td>
                      {% for substance in inv %}
                        {% if substance.rule == sub %}
                            {{substance.name}} ({{substance.qty}} t), 
                        {% endif %}
                      {% endfor %}
                    </td>
                  </tr>
                {% endif %}

                </table>
                {% elif sub == "O" %}
                <table>
                  <tr>
                    <td>
                      Group O: Eco-Toxic Substances
                    </td>
                  </tr>

                    {% if results.usedListedSubstances[sub] > 0 %}
                      <tr>
                        <td>
                          Substances applicable to this classification:
                        </td>
                        <td>
                          {% for substance in inv %}
                            {% if substance.rule == sub %}
                                {{substance.name}} ({{substance.qty}} t), 
                            {% endif %}
                          {% endfor %}
                        </td>
                      </tr>
                    {% endif %}

                </table>
                {% endif %}
              </td>
              <td class="inventory--item--td-right">{{ results.usedListedSubstances[sub] * 100 }}%</td>
            </tr>
            {% endfor %}
          </table>
        </div>
        <div id="aggregate_tier_explain" class="detailsView_body_column_body_footnote">
          <h5>Aggregate Tier note:</h5>
          <p>The aggregate tier calculation for the given inventory exceeded the <strong>{{ results.aggregateTier }}</strong> thresholds</p>
        </div>
      </div>
    </div>
  </div>
</div>