{% extends "layout.html" %}

{% block body %}
<script>currentpage = "faq"</script>
<div class="header">
  <h1>FAQ</h1>
</div>
<div class='main_content'>
  <div class="block" id="faq_block">

    <div class="question">
      <h4>Where can I find the regulations?</h4>
      <p>The Regulations are available <a href="https://www.ishecon.co.za/a-summary-of-the-new-draft-mhi-regulations/" target="_blank">here</a><i>(Opens in new window)</i></p>
      <br>
    </div>
    <div class="question">
      <h4>What are the implications of the error Code "Galapagos"?</h4>
      <p>This error message means that we couldn't find an online record of the substance you entered.</p>
      This could be due to any number of the following reasons:
      <ul>
        <li>Misspelled substance name</li>
        <li>CAS number entered incorrectly</li>
        <li>The substance is extremely rare and/or uncommon</li>
        <li>There are too many Isotopes to establish with reasonable certainty that we're assessing the hazard of the correct substance.</li>
        <p>In this case, the exact results of the assessment may be somewhat inaccurate. We recommend you <a href="{{ url_for('contact')}}">contact</a> one of our engineers directly for more help with this substance.</p>
      </ul>
    </div>
    <div class="question">
      <h4>What is the difference between "Aggregate" and "Individual" Tier classification?</h4>
      <p>The first basis on which an MHI is determined to be hazardous is on the quantity of dangerous substances stored on the premises.</p>
      <p>The Department of Employment and Labour has detailed the specified thresholds for a specific number of named substances as well as categorisation for any other potentially hazardous substances.</p>
      <p>Further classification is done according to Annexure B of the regulations, which provides guidelines for grouping substances according to their classification.</p>
      <p>In addition to calculating whether any individual substance exceeds the prescribed thresholds, the MHI tool will take the given substances' categories into account and, based on the MHI regulations, perform these sutle calculations to determine the risk based on grouping substances into one of the following three groups:</p>
      <ol>
        <li>Group H:</li>
        <ol>
          <li>H1 Acute Toxic, Category 1 and 2 (All Exposure Routes)</li>
          <li>H2 Acute Toxic, Category 3 (Inhalation exposure)</li>
          <li>Specific Target Organ Toxicity, Category 1, Single Exposure</li>
        </ol>
        <li>Group P:</li>
        <ol>
          <li>P2 Flammable gases, Category 1 or 2</li>
          <li>P3a and P3b Flammable aerosols, Category 1 or 2</li>
          <li>P4 Oxidising gases, Category 1</li>
          <li>P5 Flammable Liquids</li>
          <li>P6 Self-Reactive Substances and Mixtures and Organic Peroxides</li>
          <li>P7 Pyrophoric Liquids and Solids</li>
          <li>P8 Oxidising Liquids and Solids</li>
        </ol>
        <li>Group O</li>
        <ol>
          <li>O1 Substances or mixtures that react violently with water</li>
          <li>O2 Substances and mixtures which in contact with water emit flammable gases</li>
          <li>O3 Substances or mixtures that liberates toxic gas when in contact with water.</li>
        </ol>
      </ol>
      <p>This second calculation is known as the "Aggregate" classification.</p>
    </div>
    <div class="question">
      <h4>Polychlorodibenzofurans / polychlorodibenzodioxins</h4>
      {% include 'note7.html' %}
    </div>
    <div class="question">
      <h4>How we process data on this site:</h4>
      <p>None of the information you submit to the calculator, nor any personally identifiable information is stored by us in any way for any purposes, unless you contact us directly.</p>
      <p>When you contact us, we will only the details you provide in the contact us form and a copy the information you entered on the site.</p>
      <p>All of this information is handled in concordance with our privacy policies.</p>
    </div>   

  </div>
</div>
{% endblock %}