{% extends "layout.html" %}

{% block body %}
<script>currentpage = "help"</script>
<div id="instructions-1i" class="instructions">
  <h3>How to use this site:</h3>
  <ol>
      <li>Click on "Edit Inventory" to start adding substances.</li>
      <li>In the field labelled start typing the substance name or CAS number. <br> You will be given suggestions that match what you've typed. <br> (You can use the arrow buttons to navigate the list.)</li>
      <li>Add the inventory in tonnes.</li>
      <li>Click on "Add to Inventory".</li>
      <li>Repeat the previous 3 steps until you've added all the substances in your inventory.</li>
      <li>Click on "Done Editing". A new button will appear labelled "Calculate MHI Classification". Click on it.</li>
  </ol>
</div>
{% endblock %}