{% extends "layout.html" %}

{% block body %}
<script>currentpage = "help"</script>
<div class="header">
  <h1>How it is calculated</h1>
</div>
<div class='main_content'>
  <div class="block" id="howitworksdiv">
    <h2 class="marbottom15px">
      The Process:
    </h2>
    <ul class="fancyul">
      <li>Quantities of all hazardous materials stored or handled at the site are provided by the establishment.</li>
      <li>Total quantity per hazard class is calculated.</li>
      <li>The site's MHI classification and Hazard Level is estimated.</li>
      <li>Report with recommendations is created.</li>
    </ul>

      <h2 class="martop30px marbottom15px">
        What it can assist in estimating:
      </h2>
      <ol>
        <li>
          Whether the establishment is likely to be classified as a Major Hazard Establishment.
        </li>
        <li>
          Whether the establishment is likely to be classified as a High Hazard, a Medium Hazard or a Low Hazard establishment.
        </li>
      </ol>
    <br/>
    <div class="button_bar">
      <button class="button button--primary" onclick="Redirect('/inventory')">Get Started!</button>
    </div>
    <br/>
    <small>
      Note - any classification provided is for information purposes only and should not be interpreted as a formal classification study.
    </small>
  </div>
</div>
{% endblock %}