{% extends "layout.html" %}

{% block body %}
<script>
  currentpage = "inventory"
  inventoryexists = false
</script>
  <h2>Inventory:</h2>
  <div id="list_div" class="table--scroll">
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th >CAS</th>
          <th >Substance</th>
          <th>Type</th>
          <th>Class</th>
          <th>Qty <br><span>(tonnes)</span></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% if inventory %}
     
      <script>
        inventoryexists = true
      </script>
      {% for item in inventory %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>{% if item.CAS %}{{ item.CAS }}{% else %}None{% endif %}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.type }}</td>
        <td>{{ item.class }}</td>
        <td id="{{ item.id }}_qty_td">{{ item.qty }}</td>
        <td><button onclick="edit('{{ item.id }}')">EDIT</button></td>
        <td><button onclick="del('{{ item.id }}')">X</button></td>
      </tr>
      {% endfor %}
      {% else %}
      <script>
        inventoryexists = false
      </script>
      <tr id="noinv_tr">
        <td class="row--empty">You haven't added anything to your inventory yet. Click the <span class="bold">ADD NEW</span> button below.</td>
      </tr>
      {% endif %}
      </tbody>
    </table>    
  </div>
  <div class="flexdr jcfs martop10px">
   <button class="button button--primary" id="button_addnew">Add new</buton>
  </div>
<div id="addnew_div" class="">  
  {% include 'addnew.html' %}
</div>

<div id="calc_div" class="flexdr jcfs martop10px">
  <button id="calc_button" class="button button--primary" onclick="Process()">Calculate</button>
</div>
{% endblock %}