<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/static/js/scripts.js"></script>

<script>inventoryexists=false</script>
<link rel="stylesheet" type="text/css" href="/static/css/styles.css">
<link rel="stylesheet" type="text/css" href="/static/css/layout_styles.css">
</head>
<body>
  <div class="content">
      <div class="sidenav">
        <button class="sidenav_burger">
          <div class="sidenav_burger_bar1"></div>
          <div class="sidenav_burger_bar2"></div>
          <div class="sidenav_burger_bar3"></div>
        </button>
        <ul>
          <li><a id="navbar_welcome" href="{{ url_for('welcome')}}">Welcome</a></li>
          <li> <a id="navbar_help" href="{{ url_for('help') }}">How it is calculated</a></li>
          <li><a id="navbar_inventory" href="{{ url_for('inventory') }}">Inventory</a></li>          
          <li><a id="navbar_results" href="{{ url_for('results') }}">Results</a></li>
          <li><a id="navbar_contact" href="{{ url_for('contact') }}">Contact</a></li>
          <li><a id="navbar_faq" href="{{ url_for('faq') }}">FAQ</a></li>
        </ul>  
        <div class="quirinuslogo">
          <img src="/static/img/QuirinusTech.png">
          <p>Quirinus Technologies © 2021</p>
        </div>
      </div> 
      <div id="main" class="main">
        {% block body %}
        {% endblock %}
      </div>  
      <div class="loading" id="pre_loader">
        <p>loading...</p>
        <div class="meter animate">
          <span id="loader_width_adjustable" style="width: 100%"><span></span></span>
        </div>
        <p class="status_message" id="status_message"></p>
      </div>
  </div>
</body>
</html> 
