<tr chemid="{{item.chemid}}" id="{{ item.id }}_tr" class="{{ item.id }}">
  <td>{{ item.indexpos }}</td>
  <td>{% if item["CAS"] %}{{ item.CAS}}{% else %}None{% endif %}</td>
  <td>{{ item.name }}</td>
  <td>{{ item.chemtype }}</td>
  {% if item['class'] %}
  <td>{{ item.class }}</td>
  {% else %}
  <td>-</td>
  {% endif %}
  <td id="{{ item.id }}_qty_td" EditMode=false  Value="{{ item.qty }}"><p>{{ item.qty }}</p></td>
  <td><button onclick="toggleEditMode(event, '{{ item.id }}')" class="button_icon button_icon--edit"></button><button onclick="del('{{ item.id }}')" class="button_icon button_icon--del"></button></td>
</tr>