  <table>
    <tr>
      <th>#</th>
      <th>CAS</th>
      <th>Substance</th>
      <th>Type</th>
      <th>Class</th>
      <th>Qty (tonnes)</th>
      <th>EDIT</th>
      <th>X</th>
    </tr>
    {% if inventory %}
    <script>
      inventoryexists = true
    </script>
    {% for item in inventory %}
    <tr id="{{ item.id }}_tr" class="{{ item.id }}">
      <td>{{ item.indexpos }}</td>
      <td>{{ item.CAS }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.type }}</td>
      <td>{{ item.class }}</td>
      <td id="{{ item.id }}_qty_td">{{ item.qty }}</td>
      <td><button onclick="edit('{{ item.id }}')">EDIT</button></td>
      <td><button onclick="del('{{ item.id }}')">X</button></td>
    </tr>
    {% endfor %}
    {% else %}
    <script>
      inventoryexists = false
    </script>
    <tr id="noinv_tr">
      <td colspan="8">You haven't added anything to your inventory yet. Click the "Add new" button to start.</td>
    </tr>
    {% endif %}
  </table>