{% extends "layout.html" %}

{% block body %}
<script>currentpage = "welcome"</script>
<h3>Welcome to the</h3>
<h1>MHI Classification Tool</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, debitis est exercitationem consequatur minima id fugit dolor numquam accusantium perspiciatis rem tenetur. Assumenda dolore harum voluptatem eligendi non blanditiis facilis.</p>
<a href="{{ url_for('help')}}">How it works</a>
<a href="{{ url_for('inventory')}}">Get Started!</a>

{% endblock %}